<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/client-side/src/components/tshirt/tshirt.css">
</head>
<body>
    <div class="shirt-header">
    <!-- Left Side: Image -->
    <div class="header-image">
      <img src="/client-side/Assets/banners/shirt-2.webp" alt="Shirt" />
    </div>

    <!-- Right Side: Text -->
    <div class="header-text">
      <h1>#Shirt</h1>
      <p>Discover the perfect blend of style and comfort.</p>
    </div>
  </div>
</body>
<script src="/client-side/src/components/tshirt/tshirt.js"></script>
</html>