<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In | E-Commerce</title>
  <link rel="stylesheet" href="/client-side/src/components/login/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=account_circle,shopping_cart"
    />

</head>
<body>

  <!-- header section -->

  <header>
      <div class="container">
        <!-- Logo Section -->
        <div class="logo">
          <!-- <img src="" alt="Logo" /> -->
          <h1>Urbanian</h1>
        </div>

        <!-- top nava bar -->
        <nav>
          <a href="/client-side/src/components/home/index.html" class="nav-item"
            >Home</a
          >
          <a
            href="/client-side/src/components/about/about.html"
            class="nav-item"
            >About</a
          >
          <a
            href="/client-side/src/components/contact/contact.html"
            class="nav-item"
            >Contact</a
          >
        </nav>

        <div class="search-bar">
          <input type="text" placeholder="Search..." />
          <button>Search</button>
        </div>

        <div class="icons">
          <div class="cart">
            <span class="material-symbols-outlined">shopping_cart</span>
            <span class="count">0</span>
          </div>
          <div class="profile">
            <a href="/client-side/src/components/login/login.html"><span class="material-symbols-outlined">account_circle</span></a>
          </div>
        </div>
      </div>
    </header>

  <!-- main section -->

  <div class="login-container">
    <!-- Left Side -->
    <div class="login-left">
      <h1><i class="fas fa-user-lock"></i> Log In</h1>
      <p>Access your account to explore amazing deals.</p>
      <img src="/client-side/Assets/auth/login/log-in.png" alt="Login Illustration">
    </div>

    <!-- Right Side -->
    <div class="login-right">
      <form>
        <label for="email-phone">
          <i class="fas fa-envelope"></i> Enter Email or Phone Number
        </label>
        <div class="input-group">
          <i class="fas fa-user-circle input-icon"></i>
          <input type="text" id="email-phone" placeholder="Email or Phone">
        </div>
        <button type="button" class="request-otp-btn">
          <i class="fas fa-paper-plane"></i> Request OTP
        </button>
      </form>
    </div>
  </div>
</body>
</html>
